<div class="example-container">
  <span class="center">Login</span>
 
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="title">Email: </label>
      <input type="email" class="form-control" id="username" name="email" formControlName="email" autofocus><br>
      <span style="color:Red;" *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors?.required">Email obligatorio</span>
    </div>
   
    <div class="form-group">
      <label for="description">Contraseña: </label>
      <input type="password" class="form-control" id="password" name="password" formControlName="password"><br>
      <span style="color:Red;" *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors?.required">Contraseña obligatoria</span>
    </div>
   
    <div class="buttons-container center">
      <button class="btn btn-primary" type="submit" (click)="onSubmitLogin()">Entrar</button>
      <button class="btn btn-success" [routerLink]="['/registro']">Registrarse</button>
      <button class="btn btn-success" (click)="onSubmitLogin()">Restableccer contraseña</button>
    </div>
  </form>
</div>