<h2 class="text-center">Bebidas:</h2>
<br>
<div class="row">
    <div *ngFor="let bebida of bebidasGet" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <h3>{{ bebida.payload.doc.data().Nombre }}</h3>
        <ul>
            <li>Capacidad: {{ bebida.payload.doc.data().Capacidad }} L</li>
            <li>Precio: {{ bebida.payload.doc.data().Precio }} €</li>
        </ul>
        <div class="col text-center">
            <img [src]="bebida.payload.doc.data().IMG" class="grande">
            <button (click)="share()" class="btn btn-success">Añadir</button>
        </div>
    </div>
</div>
<br>
<h2 class="text-center">Combinados:</h2>
<br>
<div class="row">
    <div *ngFor="let combi of combinadoGet" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <h3>{{ combi.payload.doc.data().Nombre }}</h3>
        <ul>
            <li>Capacidad: {{ combi.payload.doc.data().Capacidad }} L</li>
            <li>Precio: {{ combi.payload.doc.data().Precio }} €</li>
        </ul>
        <div class="col text-center">
            <img [src]="combi.payload.doc.data().IMG" class="grande">
            <button (click)="share()" class="btn btn-success">Añadir</button>
        </div>
    </div>
</div>
<br>
<h2 class="text-center">Dürüm:</h2>
<br>
<div class="row">
    <div *ngFor="let durum of durumGet" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <h3>{{ durum.payload.doc.data().Nombre }}</h3>
        <ul>
            <li>Capacidad: {{ durum.payload.doc.data().Capacidad }} L</li>
            <li>Precio: {{ durum.payload.doc.data().Precio }} €</li>
        </ul>
        <div class="col text-center">
            <img [src]="durum.payload.doc.data().IMG" class="grande">
            <button (click)="share()" class="btn btn-success">Añadir</button>
        </div>
    </div>
</div>
<br>
<h2 class="text-center">Pita:</h2>
<br>
<div class="row">
    <div *ngFor="let pita of pitaGet" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <h3>{{ pita.payload.doc.data().Nombre }}</h3>
        <ul>
            <li>Capacidad: {{ pita.payload.doc.data().Capacidad }} L</li>
            <li>Precio: {{ pita.payload.doc.data().Precio }} €</li>
        </ul>
        <div class="col text-center">
            <img [src]="pita.payload.doc.data().IMG" class="grande">
            <button (click)="share()" class="btn btn-success">Añadir</button>
        </div>
    </div>
</div>
<br>
<h2 class="text-center">Ensaladas:</h2>
<br>
<div class="row">
    <div *ngFor="let ensa of ensaladaGet" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <h3>{{ ensa.payload.doc.data().Nombre }}</h3>
        <ul>
            <li>Capacidad: {{ ensa.payload.doc.data().Capacidad }} L</li>
            <li>Precio: {{ ensa.payload.doc.data().Precio }} €</li>
        </ul>
        <div class="col text-center">
            <img [src]="ensa.payload.doc.data().IMG" class="grande">
            <button (click)="share()" class="btn btn-success">Añadir</button>
        </div>
    </div>
</div>
<br>
<h2 class="text-center">Pizza:</h2>
<br>
<div class="row">
    <div *ngFor="let pizza of pizzaGet" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <h3>{{ pizza.payload.doc.data().Nombre }}</h3>
        <ul>
            <li>Capacidad: {{ pizza.payload.doc.data().Capacidad }} L</li>
            <li>Precio: {{ pizza.payload.doc.data().Precio }} €</li>
        </ul>
        <div class="col text-center">
            <img [src]="pizza.payload.doc.data().IMG" class="grande">
            <button (click)="share()" class="btn btn-success">Añadir</button>
        </div>
    </div>
</div>